.title {
  text-align: center;
}

.GameGrid {
  width: 375px;
  height: 375px;
  background-color: black;
  display: flex;
  margin: auto;
  background-image: 15px 15px white;
}

.gameCells {
  display: flex;
  flex: 1;
  padding: 5px;
  border: 1px solid darkgray;
}

.GridContainer {
  display: flex;
  justify-content: center;
}

.GridInputs {
  display: flex;
  justify-content: center;
  width: 600px;
  flex-flow: row wrap;
  margin: 2% auto;
}

.buttonContainer {
  display: flex;
}

.buttons {
  margin: 15px;
}

.inputLabel {
  margin: 15px;
  padding: 5px;
}

.input {
  margin: 5px;
}

.cellContainerDead {
  display: flex;
  padding: 10px;
  border: 1px solid black;
}

.cellContainerLive {
  display: flex;
  padding: 10px;
  border: 1px solid black;
  background-color: black;
}

.game {
  width: 50%;
}

.rules {
  width: 45%;
}

.mainContainer {
  display: flex;
}

.labels {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
